body{
    padding: 2.5rem;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#lista-tarefas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

#inicio{
    padding-bottom: 4rem;
}

.stats{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 2rem;

    p{
        font-size: 3rem;
        text-align: center;
    }
}